@media (max-width:768px){
    header, .bar, .logo, .logo-1, .options, .underlined {
        width: 100%;
    }


    .logo-1 {
        margin-left: 0 ;
    }

    .logo {
        font-size: 200%;
    }

    .bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }

    .options {
        display: flex;
        justify-content: flex-end;
        font-size: 100%;
        border: none;
    }
}

@media (max-width:480px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }

    .logo {
        font-size: 200%;
    }

    .options {
        display: flex;
        justify-content: center;
        text-decoration: underline;
    }
}